---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<!--
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->

<link rel="shortcut icon" type="image/png" href="{{ "/images/logo.png" | prepend: site.baseurl }}" >

<html>
<head>
<style>
#container {
    width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
}
#first {
    background-color: #f5f5f5;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    width: 600px;
    float: left;
    padding: 10px;
    margin-bottom : 15px;
}
#only {
    background-color: #f5f5f5;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    width: 1000px;
    float: left;
    padding: 10px;
    margin-bottom : 15px;
}
#second {
    width: 400px;
    float: left;
    padding: 15px;
}

talk {
    color: #0077b6;
}

descr {
    color: gray;
    font-size: small;
}
</style>
</head>

<body>

<a name="Skinner_to_BB"></a>
<div id="container">
    <div id="first">
    <descr><a target="_blank" rel="noopener noreferrer" href="https://www.ziconference.net/">The First Conference on Zero/Minimal Intelligence Agents</a></descr> <br>
    <talk>From Skinner Box experiments to Black Box games: radical behaviorism for experimental game theory</talk> <br>
    <descr>
      <img src="/images/date.png" width="20">23 October 2020 <br>
      <img src="/images/location.png" width="20">Online; organiser: <a target="_blank" rel="noopener noreferrer" href="https://som.yale.edu/">Yale School of Management</a>, Yale University, United States <br>
      <a target="_blank" rel="noopener noreferrer" href="https://6290004f-fc84-4e36-9af7-1369d365797a.filesusr.com/ugd/834418_7f988f94ac684b969f5451b32f0b4049.pdf"><img src="/images/talk_gray.png" width="20">presentation slides</a>
    </descr>
    </div>
    <div id="second"><object data="/files/Skinner_to_Black_Box_IkicaB.pdf#view=fitH&" width="25%" height="15px"> 
  <p>It appears that you don't have a PDF plugin for this browser. You can download the PDF file <a href="/files/Skinner_to_Black_Box_IkicaB.pdf">here.</a></p>  
</object></div>
</div>

<div id="container">
  <div id="only">
  <descr><a target="_blank" rel="noopener noreferrer" href="https://www.twi-kreuzlingen.ch/event/theem/">11th Thurgau Experimental Economics Meeting: Information and Behavior</a></descr> <br>
  <talk>Feedback effects in the experimental double auction with private information</talk> <br>
  <descr>
    <img src="/images/date.png" width="20">7–9 April 2020 <img src="/images/location.png" width="20">Cancelled due to COVID‐19; organiser: <a target="_blank" rel="noopener noreferrer" href="https://www.twi-kreuzlingen.ch/en/">Thurgauer Wirtschaftsinstitut</a>, University of Konstanz, Switzerland
  </descr>
</div>
</div>

<a name="Networks_algorithms"></a>
<div id="container">
  <div id="second"><object data="/files/Networks_and_algorithms_IkicaB.pdf#view=fitH" width="25%" height="15px"> 
    <p>It appears that you don't have a PDF plugin for this browser. You can download the PDF file <a href="/files/Networks_and_algorithms_IkicaB.pdf">here.</a></p>  
    </object></div>
  <div id="first">
  <descr><a target="_blank" rel="noopener noreferrer" href="https://coss.ethz.ch/education/past/FS2019/computational.html">Computational Social Science seminar</a></descr> <br>
  <talk>Networks and algorithms</talk> <br>
  <descr>
    <img src="/images/date.png" width="20">29 October 2019 <br>
    <img src="/images/location.png" width="20"><a target="_blank" rel="noopener noreferrer" href="https://ethz.ch/en.html">ETH Zürich</a>, Switzerland <br>
    <a target="_blank" rel="noopener noreferrer" href="https://ethz.ch/content/dam/ethz/special-interest/gess/computational-social-science-dam/documents/education/Fall2019/Computational/COSS_Networks_and_Algorithms_IkicaB.pdf"><img src="/images/talk_gray.png" width="20">presentation slides</a>
  </descr>
  </div>
</div>

<div id="container">
  <div id="first">
  <descr><a target="_blank" rel="noopener noreferrer" href="https://coss.ethz.ch/">COSS</a> symposium</descr> <br>
  <talk>Feedback effects in the experimental double auction with private information</talk> <br>
  <descr>
    <img src="/images/date.png" width="20">28 June 2019 <br>
    <img src="/images/location.png" width="20">Marseille, France <br>
    <a target="_blank" rel="noopener noreferrer" href="/files/Double_auction_IkicaB.pdf"><img src="/images/talk_gray.png" width="20">presentation slides</a>
  </descr>
  </div>
  <div id="second"><object data="/files/Double_auction_IkicaB.pdf#view=fitH" width="25%" height="15px"> 
<p>It appears that you don't have a PDF plugin for this browser. You can download the PDF file <a href="/files/Double_auction_IkicaB.pdf">here.</a></p>  
</object></div>
</div>

<div id="container">
  <div id="only">
  <descr><a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/news/news/33556/barbara-ikica-feedback-effects-in-the-experimental-double-auction-with-private-information/">Discrete Mathematics Seminar</a></descr> <br>
  <talk>Feedback effects in the experimental double auction with private information</talk> <br>
  <descr>
    <img src="/images/date.png" width="20">21 May 2019 <img src="/images/location.png" width="20"><a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/">Department of Mathematics</a>, University of Ljubljana, Slovenia <br>
  </descr>
</div>
</div>

<div id="container">
  <div id="only">
  <descr>3rd workshop on <a target="_blank" rel="noopener noreferrer" href="https://www.fs.uni-lj.si/en/research_work/domestic_research_projects/2017070515330353/Biomedical%20data%20fusion%20using%20a%20non-negative%20matrix%20tri-factorization">Biomedical data fusion and non-negative matrix factorization</a></descr> <br>
  <talk>Clustering via the modified Petford–Welsh algorithm</talk> <br>
  <descr>
    <img src="/images/date.png" width="20">17 April 2019 <img src="/images/location.png" width="20"><a target="_blank" rel="noopener noreferrer" href="https://www.fs.uni-lj.si/en/">Department of Mechanical Engineering</a>, University of Ljubljana, Slovenia <br>
  </descr>
</div>
</div>

<a name="Max_EWI"></a>
<div id="container">
  <div id="second"><object data="/files/External_Wiener_index_IkicaB.pdf#view=fitH" width="25%" height="15px"> 
    <p>It appears that you don't have a PDF plugin for this browser. You can download the PDF file <a href="/files/External_Wiener_index_IkicaB.pdf">here.</a></p>  
    </object></div>
  <div id="first">
  <descr><a target="_blank" rel="noopener noreferrer" href="http://www.grad.hr/crocodays/index_2018.html">CroCoDays – 2nd Croatian Combinatorial Days</a></descr> <br>
  <talk>Maximum external Wiener index of graphs</talk> <br>
  <descr>
    <img src="/images/date.png" width="20">28 September 2018 <br>
    <img src="/images/location.png" width="20"><a target="_blank" rel="noopener noreferrer" href="https://www.grad.unizg.hr/en">Faculty of Civil Engineering</a>, University of Zagreb, Croatia <br>
    <a target="_blank" rel="noopener noreferrer" href="/files/External_Wiener_index_IkicaB.pdf"><img src="/images/talk_gray.png" width="20">presentation slides</a>
  </descr>
  </div>
</div>

<div id="container">
  <div id="only">
  <descr>2nd workshop on <a target="_blank" rel="noopener noreferrer" href="https://www.fs.uni-lj.si/en/research_work/domestic_research_projects/2017070515330353/Biomedical%20data%20fusion%20using%20a%20non-negative%20matrix%20tri-factorization">Biomedical data fusion and non-negative matrix factorization</a></descr> <br>
  <talk>Clustering via the modified Petford–Welsh algorithm</talk> <br>
  <descr>
    <img src="/images/date.png" width="20">24 May 2018 <img src="/images/location.png" width="20"><a target="_blank" rel="noopener noreferrer" href="https://www.fs.uni-lj.si/en/">Department of Mechanical Engineering</a>, University of Ljubljana, Slovenia
  </descr>
</div>
</div>

<div id="container">
  <div id="first">
  <descr><a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/news/news/32632/barbara-ikica-evolucijska-teorija-iger/">History of Mathematics Seminar</a></descr> <br>
  <talk>(Evolutionary) game theory</talk> (in Slovenian) <br>
  <descr>
    <img src="/images/date.png" width="20">21 May 2018 <br>
    <img src="/images/location.png" width="20"><a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/">Department of Mathematics</a>, University of Ljubljana, Slovenia <br>
    <a target="_blank" rel="noopener noreferrer" href="/files/Evolutionary_game_theory_IkicaB.pdf"><img src="/images/talk_gray.png" width="20">presentation slides</a>
  </descr>
</div>
<div id="second"><object data="/files/Evolutionary_game_theory_IkicaB.pdf#view=fitH" width="25%" height="15px"> 
  <p>It appears that you don't have a PDF plugin for this browser. You can download the PDF file <a href="/files/Evolutionary_game_theory_IkicaB.pdf">here.</a></p>  
  </object></div>
</div>

<div id="container">
  <div id="only">
  <descr><a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/news/news/32225/barbara-ikica-clustering-via-a-modified-perford-welsh-algorithm/">Discrete Mathematics Seminar</a></descr> <br>
  <talk>Clustering via the modified Petford–Welsh algorithm</talk> <br>
  <descr>
    <img src="/images/date.png" width="20">9 January 2018 <img src="/images/location.png" width="20"><a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/">Department of Mathematics</a>, University of Ljubljana, Slovenia
  </descr>
</div>
</div>

<div id="container">
  <div id="second"><object data="/files/Biomedical_clustering_IkicaB.pdf#view=fitH" width="25%" height="15px"> 
    <p>It appears that you don't have a PDF plugin for this browser. You can download the PDF file <a href="/files/Biomedical_clustering_IkicaB.pdf">here.</a></p>  
    </object></div>
  <div id="first">
  <descr><a target="_blank" rel="noopener noreferrer" href="https://www.lecad.fs.uni-lj.si/">LECAD</a>, <a target="_blank" rel="noopener noreferrer" href="https://web.fs.uni-lj.si/lasim/index.php?page=home">LASIM</a> & <a target="_blank" rel="noopener noreferrer" href="http://lab.fs.uni-lj.si/laps/index.html">LAPS</a> laboratories' Mathematics Seminar</descr> <br>
  <talk>Comparing the performance of biomedical clustering methods</talk> <br>
  <descr>
    <img src="/images/date.png" width="20">9 January 2018 <br>
    <img src="/images/location.png" width="20"><a target="_blank" rel="noopener noreferrer" href="https://www.fs.uni-lj.si/en/">Department of Mechanical Engineering</a>, University of Ljubljana, Slovenia <br>
    <a target="_blank" rel="noopener noreferrer" href="/files/Biomedical_clustering_IkicaB.pdf"><img src="/images/talk_gray.png" width="20">presentation slides</a>
  </descr>
</div>
</div>

<div id="container">
  <div id="only">
    <descr><a target="_blank" rel="noopener noreferrer" href="https://www.lecad.fs.uni-lj.si/">LECAD</a>, <a target="_blank" rel="noopener noreferrer" href="https://web.fs.uni-lj.si/lasim/index.php?page=home">LASIM</a> & <a target="_blank" rel="noopener noreferrer" href="http://lab.fs.uni-lj.si/laps/index.html">LAPS</a> laboratories' Mathematics Seminar</descr> <br>
  <talk>Clustering via the modified Petford–Welsh algorithm</talk> <br>
  <descr>
    <img src="/images/date.png" width="20">5 December 2017 <img src="/images/location.png" width="20"><a target="_blank" rel="noopener noreferrer" href="https://www.fs.uni-lj.si/en/">Department of Mechanical Engineering</a>, University of Ljubljana, Slovenia
  </descr>
</div>
</div>

<div id="container">
  <div id="only">
  <descr>1st workshop on <a target="_blank" rel="noopener noreferrer" href="https://www.fs.uni-lj.si/en/research_work/domestic_research_projects/2017070515330353/Biomedical%20data%20fusion%20using%20a%20non-negative%20matrix%20tri-factorization">Biomedical data fusion and non-negative matrix factorization</a></descr> <br>
  <talk>Clustering via the modified Petford–Welsh algorithm</talk> <br>
  <descr>
    <img src="/images/date.png" width="20">20 November 2017 <img src="/images/location.png" width="20">Dolenjske Toplice, Slovenia
  </descr>
</div>
</div>

<a name="Chemical_graph_theory"></a>
<div id="container">
  <div id="first">
  <descr><a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/news/news/31134/barbara-ikica-on-several-extremal-problems-in-chemical-graph-theory/">Discrete Mathematics Seminar</a></descr> <br>
  <talk>On several extremal problems in chemical graph theory</talk> <br>
  <descr>
    <img src="/images/date.png" width="20">17 January 2017 <br>
    <img src="/images/location.png" width="20"><a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/">Department of Mathematics</a>, University of Ljubljana, Slovenia <br>
    <a target="_blank" rel="noopener noreferrer" href="/files/Chemical_graph_theory_IkicaB.pdf"><img src="/images/talk_gray.png" width="20">presentation slides</a>
  </descr>
</div>
<div id="second"><object data="/files/Chemical_graph_theory_IkicaB.pdf#view=fitH" width="25%" height="15px"> 
  <p>It appears that you don't have a PDF plugin for this browser. You can download the PDF file <a href="/files/Chemical_graph_theory_IkicaB.pdf">here.</a></p>  
  </object>
  </div>
</div>

<a name="GGI"></a>
<div id="container">
  <div id="second"><object data="/files/Graovac_Ghorbani_index_IkicaB.pdf#view=fitH" width="25%" height="15px"> 
    <p>It appears that you don't have a PDF plugin for this browser. You can download the PDF file <a href="/files/Graovac_Ghorbani_index_IkicaB.pdf">here.</a></p>  
    </object></div>
  <div id="first">
  <descr><a target="_blank" rel="noopener noreferrer" href="http://www.grad.hr/crocodays/index_2016.html">CroCoDays – 1st Croatian Combinatorial Days</a></descr> <br>
  <talk>On the Graovac–Ghorbani index of bipartite graphs</talk> <br>
  <descr>
    <img src="/images/date.png" width="20">29 September 2016 <br>
    <img src="/images/location.png" width="20"><a target="_blank" rel="noopener noreferrer" href="https://www.grad.unizg.hr/en">Faculty of Civil Engineering</a>, University of Zagreb, Croatia <br>
    <a target="_blank" rel="noopener noreferrer" href="/files/Graovac_Ghorbani_index_IkicaB.pdf"><img src="/images/talk_gray.png" width="20">presentation slides</a>
  </descr>
  </div>
</div>

<a name="Evolutionary_dynamics"></a>
<div id="container">
  <div id="only">
  <descr><a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/news/news/29793/barbara-ikica-evolutionary-dynamics-games-and-graphs/">Discrete Mathematics Seminar</a></descr> <br>
  <talk>Evolutionary dynamics, games and graphs</talk> <br>
  <descr>
    <img src="/images/date.png" width="20">5 January 2016 <img src="/images/location.png" width="20"><a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/">Department of Mathematics</a>, University of Ljubljana, Slovenia
  </descr>
</div>
</div>

<a name="IJS"></a>
<div id="container">
  <div id="first">
    <descr><a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/news/news/25573/barbara-ikica-risanje-velikih-grafov-s-pomocjo-hierarhicnega-grucenja/">Graph Theory and Algorithms Seminar</a></descr> <br>
    <talk>Drawing large graphs using divisive hierarchical 𝑘‐means</talk> <br>
    <descr>
      <img src="/images/date.png" width="20">22 November 2012 <br>
      <img src="/images/location.png" width="20"><a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/">Department of Mathematics</a>, University of Ljubljana, Slovenia <br>
      <a target="_blank" rel="noopener noreferrer" href="/files/Drawing_large_graphs_IkicaB.pdf"><img src="/images/talk_gray.png" width="20">presentation slides</a>
    </descr>
    </div>
  <div id="second"><object data="/files/Drawing_large_graphs_IkicaB.pdf#view=fitH" width="25%" height="15px"> 
    <p>It appears that you don't have a PDF plugin for this browser. You can download the PDF file <a href="/files/Drawing_large_graphs_IkicaB.pdf">here.</a></p>  
    </object></div>
</div>

</body>
</html>
