---
layout: archive
title: "Teaching activities"
permalink: /teaching/
author_profile: true
---

<!--
{% include base_path %}

 {% for post in site.teaching reversed %}
  {% include archive-single.html %}
 {% endfor %}
-->

<link rel="shortcut icon" type="image/png" href="{{ "/images/logo.png" | prepend: site.baseurl }}" >

<html>
<head>
<style>
/* course {
    color: black;
    font-size: 100%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #52adc8;
    text-decoration-thickness: 1.5px;
} */

course {
    color: #F67E7D;
}

year {
    color: #6c757d;
}

class {
    color: #6c757d;
    font-style: italic;
}

details > summary {
    padding: 4px;
    background-color: #f5f5f5;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
    margin-bottom : 15px;
}

</style>
</head>

<body>
    <p>
        During my PhD studies, I worked as a teaching assistant, which included preparing and conducting weekly tutorials, developing exam questions, and grading exams.
    </p>

    <p>
    At the <a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/">Department of Mathematics</a>, <a target="_blank" rel="noopener noreferrer" href="https://www.uni-lj.si/eng/">University of Ljubljana</a>:

        <details open>
            <summary><year>2018/2019</year> <course>Discrete structures</course> <class>(Undergraduate Financial mathematics, Year 1)</class></summary>
        
            <img src="/images/teaching.png" width="270" style="float:right">

            <p>
                Topics (<a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/study-mathematics/programmes/1fima/2018/courses/17/#section_content">official syllabus</a>):
                <ul>
                    <li><em>Logic</em>: propositional and predicate calculus, rules of inference;</li>
                    <li><em>Relations and ordered sets</em>;</li>
                    <li><em>Graph theory</em>: homomorphisms, trees, bipartite graphs, Eulerian and Hamiltonian graphs, digraphs and tournaments, connectivity, planar graphs, vertex and edge colourings.</li>
                </ul>
            </p>

        </details>

        <details>
            <summary><year>2017/2018</year> <course>Discrete mathematics 1</course> <class>(Undergraduate Financial mathematics, Year 1)</class></summary>
        
            <p>
                Topics (<a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/study-mathematics/programmes/1fima/2018/courses/17/#section_content">official syllabus</a>):
                <ul>
                    <li><em>Logic</em>: propositional and predicate calculus, rules of inference;</li>
                    <li><em>Relations and ordered sets</em>;</li>
                    <li><em>Graph theory</em>: homomorphisms, trees, bipartite graphs, Eulerian and Hamiltonian graphs, digraphs and tournaments, connectivity, planar graphs, vertex and edge colourings.</li>
                </ul>
            </p>
        </details>

        <details>
            <summary><year>2016/2017</year> <course>Discrete mathematics 1</course> <class>(Undergraduate Financial mathematics, Year 1)</class></summary>
        
            <p>
                Topics (<a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/study-mathematics/programmes/1fima/2018/courses/17/#section_content">official syllabus</a>):
                <ul>
                    <li><em>Logic</em>: propositional and predicate calculus, rules of inference;</li>
                    <li><em>Relations and ordered sets;</em></li>
                    <li><em>Graph theory</em>: homomorphisms, trees, bipartite graphs, Eulerian and Hamiltonian graphs, digraphs and tournaments, connectivity, planar graphs, vertex and edge colourings.</li>
                </ul>
            </p>
        </details>

        <details>
            <summary><year>2015/2016</year> <course>Combinatorics & Combinatorics 2</course> <class>(Undergraduate Mathematics, Master's programme)</class></summary>
        
            <p>
                Topics (<a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/study-mathematics/programmes/2mate/2018/courses/336/#section_content">official syllabus</a>):
                <ul>
                    <li><em>Twelvefold way</em>;</li>
                    <li><em>Generating functions</em>: ordinary and exponential generating functions and their applications;</li>
                    <li><em>Formal power series</em>: formal power series, formal Laurent series, Lagrange inversion;</li>
                    <li><em>Pólya theory</em>;</li>
                    <li><em>Principle of inclusion and exclusion</em>;</li>
                    <li><em>Incidence algebra</em>: incidence algebra, Möbius function, Möbius inversion.</li>
                </ul>
            </p>
        </details>

        <details>
            <summary><year>2015/2016</year> <course>Discrete Mathematics 2</course> <class>(Undergraduate Mathematics, Year 3)</class></summary>
        
            <p>
                Topics (<a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/study-mathematics/programmes/1mate/2018/courses/122/#section_content">official syllabus</a>):
                <ul>
                    <li><em>Partially ordered sets</em>;</li>
                    <li><em>Dilworth's, Hall's, Sperner's theorem</em>;</li>
                    <li><em>Design theory</em>;</li>
                    <li><em>Pólya theory</em>;</li>
                    <li><em>Graph theory</em>:  symmetry properties of graphs, cartesian product of graphs;</li>
                    <li><em>Ramsey theory</em>.</li>
                </ul>
            </p>
        </details>
    </p>

    <p>
    At the <a target="_blank" rel="noopener noreferrer" href="https://www.fri.uni-lj.si/en">Department of Computer and Information Science</a>, <a target="_blank" rel="noopener noreferrer" href="https://www.uni-lj.si/eng/">University of Ljubljana</a>:

        <details>
            <summary><year>2016/2017</year> <course>Discrete structures</course> <class>(Undergraduate Computer and Information Science, Year 1)</class></summary>
        
            <p>
                Topics (<a target="_blank" rel="noopener noreferrer" href="https://www.fri.uni-lj.si/upload/Zborniki/UNP_BVS_RI_2016_2017_julij_2016.pdf">official syllabus</a>):
                <ul>
                    <li><em>Induction principle</em>;</li>
                    <li><em>Logic</em>: propositional and predicate calculus, rules of inference;</li>
                    <li><em>Set theory and relations</em>;</li>
                    <li><em>Number theory</em>: extended Eucledian algorithm, linear Diophantine equations, modular arithmetic;</li>
                    <li><em>Permutations</em>;</li>
                    <li><em>Graph theory</em>: homomorphisms, trees, bipartite graphs, Eulerian and Hamiltonian graphs, connectivity, planar graphs, vertex colouring;</li>
                    <li><em>Logic</em>: propositional and predicate calculus, rules of inference;</li>
                    <li><em>Linear recurrence relations</em>.</li>
                </ul>
            </p>
        </details>
    </p>

    <hr>

    <p>
        As a Master's student, I assisted in marking weekly assignments at the <a target="_blank" rel="noopener noreferrer" href="https://www.fri.uni-lj.si/en">Department of Physics</a>, <a target="_blank" rel="noopener noreferrer" href="https://www.uni-lj.si/eng/">University of Ljubljana</a>:

        <details>
            <summary><year>2011/2012</year> <course>Mathematics III</course> <class>(Undergraduate Physics, Year 2)</class></summary>
        
            <p>
                Topics (<a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/study-physics/programmes/1fiz/2020/7000777/courses/522/#section_content">official syllabus</a>):
                <ul>
                    <li><em>Gamma and Beta special functions</em>;</li>
                    <li><em>Multiple integrals</em>;</li>
                    <li><em>Inner product spaces</em>;</li>
                    <li><em>Fourier series</em>;</li>
                    <li><em>Differential equations</em>: ordinary differential equations, systems of differential equations, existence theorems;</li>
                    <li><em>Line and surface integrals</em>;</li>
                    <li><em>Calculus of variations</em>.</li>
                </ul>
            </p>
        </details>

        <details>
            <summary><year>2011/2012</year> <course>Mathematics IV</course> <class>(Undergraduate Physics, Year 2)</class></summary>
        
            <p>
                Topics (<a target="_blank" rel="noopener noreferrer" href="https://www.fmf.uni-lj.si/en/study-physics/programmes/1fiz/2020/7000777/courses/523/#section_content">official syllabus</a>):
                <ul>
                    <li><em>Partial differential equations</em>;</li>
                    <li><em>Fourier transforms</em>;</li>
                    <li><em>Holomorphic functions</em>;</li>
                    <li><em>Differential operators</em>;</li>
                    <li><em>Legendre polynomials</em>.</li>
                </ul>
            </p>
        </details>
    </p>

</body>
</html>
